<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acesso</title>
</head>
<body>
  <h3>Semadec Revolution</h3><br>
  <div>
    <h2>Acesso</h2>
    <form action="/visitante">
      <button>Visitante</button>
    </form>
    <form action="/usuario" method="post">
      <button>Usuário</button>
    </form>
    
    <p>*usuários são aqueles ligados à instituição, como representantes de equipes ou membros da comissão. </p>
  </div>
</body>
</html>