{% extends "base.html" %}

  {% block conteudo %}
	<h1>Bem-vindo(a) {{n}} ao Semadec Revolution</h1> 
  <br>
  <h2>O que é Semadec afinal?</h2>
  <p>Semadec é a semana de esporte e cultura, evento no qual, os cursos e servidores competem pela taça. O evento é dividido em atividades esportivas e culturais, sendo seus objetivos principais: promover a competição saudável, a união, a criatividade e ampliar os horizontes 
do conhecimento através do lazer.</p>
  <h2>Programação & Regras</h2>
  <button><a href="/competicoes.html">Competições Programadas</a></button>
  <button><a href="/regras.html">Regras</a></button>
  {% endblock %}