{% extends "base.html" %}

{% block conteudo %}

    <title>Torcida</title>
  </head>

  <body>
    <h2>Preencha sua incrição com os dados solicitados:</h2>
    <form action="">
      <label for="nome">
        Nome: <input type="text">
      </label> <br>
      <label for="cpf">
        CPF: <input type="text">
      </label> <br>
      <label for="matricula">
        Matrícula: <input type="text">
      </label> <br>
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>

{% endblock %}