<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuário</title>
</head>
<body>
  <h3>Semadec Revolution</h3><br>
  <div>
    <h2>Usuário</h2>
    <h4>Login</h4>
    <form action="/home" method="post">
      <label for="nome">
        Nome: <input name="nome" type="text" required>
      </label><br>
      <label for="matricula"> 
       Matrícula: <input name="matricula" type="number" required><br>
      </label>
        
      <label for="senha"> 
      Senha:  <input name="senha" type="password" required>
      </label><br>
      <button type="submit">Acessar</button>
      <p>usuários são aqueles ligados à instituição, como representantes de equipes ou membros da comissão.  Caso não possua login, <a href="/cadastro">cadrastre-se.</a></p>
    </form>
  </div>
</body>
</html>